<% provide(:title, "About") %>
<h1>ニコニコカレンダーとは？</h1>
<p>
  <a href="https://ja.wikipedia.org/wiki/%E3%83%8B%E3%82%B3%E3%83%8B%E3%82%B3%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC">主にここに書いてあります。</a>
</p>