<% provide(:title, "About") %>
<h1>ニコニコカレンダーとは？</h1>
<p>
  <a href="https://ja.wikipedia.org/wiki/%E3%83%8B%E3%82%B3%E3%83%8B%E3%82%B3%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC">主にここに書いてあります。</a>
</p>
<p>
ソフトウェア開発の見える化という流れの中で、個人の気分を可視化する手法として2005年に富士通ソフトウェアテクノロジーズの黒田幸子によって発案された。その後、ソフトウェア開発チームだけではなく、それ以外の組織やチームにも有効な手法として、ソフトウェア業界を中心に口コミで広く知られるようになった。
</p>
