<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>毎日ニコニコ過ごそう。</h1>

  <h2>
    ニコニコカレンダーって何？って方は
    <%= link_to 'こちら', about_path %>
    から
  </h2>

  <%= link_to "今すぐ登録する", signup_path, class: "btn btn-lg btn-primary" %>
</div>
