<footer class="footer">
  <small>
    <%= link_to Constants::APP_NAME, root_path %>
    by <%= link_to Constants::AUTHER, Constants::AUTHER_HOMEPAGE %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "#{Constants::APP_NAME}ã«ã¤ã„ã¦", about_path %></li>
    </ul>
  </nav>
</footer>