@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

$light-gray: #777;


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}



p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 2.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 16px;
    font-weight: bold;
    font-family: メイリオ;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $light-gray;
    a {
        color: #555;
        &:hover{
            color: #222;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}




/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}


/* sidebar */

aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    width: 100% !important;
    border: 1px solid rgb(255, 165, 165) !important;
    padding: 7px;
    border-radius: 5px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    display: block !important;
    padding: auto !important;
    background-color: #fff !important;
    .form-control {
        color: $state-danger-text;
    }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.cred-wrap img {
    height: 26px;
    margin: 0px 0px 12px 12px;
    float: right; 
}

#logo:hover {
    background-color: rgba(255,255,255, 0);
}


.content-mood-3 {
    background-image: image-url("3.png");
    height: 100px;
    width: 100px;
    background-size: contain;
}

.content-mood-2 {
    background-image: image-url("2.png");
    height: 100px;
    width: 100px;
    background-size: contain;
}

.content-mood-1 {
    background-image: image-url("1.png");
    height: 100px;
    width: 100px;
    background-size: contain;
}

@font-face {
  font-family: 'typicons';
  src: url("fonts/typicons.eot");
  src: url("fonts/typicons.eot?#iefix") format('embedded-opentype'),
       url("fonts/typicons.woff") format('woff'),
       url("fonts/typicons.ttf") format('truetype'),
       url("fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
ul {
  /* margin: 0 0 0 0 !important; */
  padding: 0;
}
.wrap{
  width: 100px;
  height: 100px;
  margin: 0 auto !important;
  color: #fff;
  text-align: center;
}
.wrap li{
  list-style: none;
  float: left;
  margin: 0;
  /* padding: 0 5px; */
}
.wrap div{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  /*padding: 5px;*/
  border-radius: 50%;
  transition: .3s;
}
.wrap div:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 1;
}
.wrap div span{
    position: absolute;
    opacity: 0;
    top: -20px;
    width: 300px;
    left: -100px;
    text-align: center;
    height: auto;
    padding: 10px;
    border-radius: 2px;
    background: #196090;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    transition: .3s;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.wrap div span:after{
    position: absolute;
    top: 100%;
    left: 145px;
    height: 0;
    width: 0;
    border: 6px solid transparent;
    border-top: 6px solid #196090;
    content: "";
}
.wrap div:hover span{
  opacity: 1;
  top: -40px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.btn {
    color: #fff !important;
    margin: 10px;
}

.overlay-post-icons {
    display: -webkit-box;
    margin: 10px auto;
}

.overlay-post-icons div label {
    width: 100px;
    height: 100px !important;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
}

.overlay-post-icons input {
    width: 0px;
    line-height: 0px;
    height: 0px !important;
    display: none;
}
div .checked {
    background-color: #b2dced;
    border-radius: 10px;
}
div.user-wrap{
    display: inline-block;
}


meter {
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 300px;
    height: 20px;
    vertical-align: bottom;
}

meter::-webkit-meter-horizontal-even-less-good-value {
    background-color: #f00;
    background-image: -webkit-gradient(
                          linear,
                          left top,
                          left bottom,
                          from(#ffafaf),
                          to(#f00)
                      );
    /* 中略(グラデーション用指定2種類) */
}